*{
margin: 0%;
padding: 0;
color: white;

}
.container{
max-width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url(Image.jpg);
background-position: center;
background-size:  cover;


background-repeat: no-repeat;

}

.input-field img{
   padding-left: 10px;
}
.box{
    position: absolute;
    width: 90%;
    max-width: 450px;
    background: transparent;
    padding: 40px 40px 70px;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border:2px solid #473f47 ;
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
.box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(12, 190, 235);
    text-transform: uppercase;
}
.input-field {
    background: transparent;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    overflow: hidden;
    transition:max-height 0.5s ;
    border-bottom: 2px solid white;

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    color: white;
}
input:hover{
    padding-bottom: 25px;
    transition: all ease-in-out 200ms;

}
.reg{
    display: flex;
    flex-wrap: wrap;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: red;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn button{
    flex-basis: 48%;
    background: #07268d;
    color: white;
    border-radius: 20px;
    padding: 8px 0;
    border: 0;
    outline: 0;
    margin-top:15px;
    cursor: pointer;
   
}
.btn button.disable{
 background: #aeaeae;   
 color: #555;
}